@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;700&display=swap");
.titulo,
.subtitulo {
   font-family: "Montserrat";
   font-weight: 700;
   font-size: 3rem;
   color: white;
}
.subtitulo {
   font-size: 2rem;
}
.large,
.large-bold,
.body,
.caption {
   color: white;
   font-family: "Poppins";
   font-weight: 400;
   font-size: 1.5rem;
}
.large-bold {
   font-weight: 700;
}
.body {
   font-size: 1rem;
}
.body-bold {
   font-family: "Poppins";
   font-weight: 700;
   font-size: 1rem;
}
.caption {
   font-size: 13px;
}
