.job {
   text-align: center;
   color: white;
   margin-bottom: 55px;
}
@media (min-width: 950px) {
   .job {
      max-width: 300px;
   }
}
.job__image {
   margin: 0 auto;
   max-height: 180px;
   max-width: 290px;
   vertical-align: middle;
}
.job__title {
   font-family: "Poppins", sans-serif;
   font-weight: 700;
   font-size: 24px;
}
.job__description {
   font-family: "Poppins";
   font-weight: 400;
   font-size: 16px;
}
.job__link {
   font-family: "Poppins", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   color: #fc6f50;
   text-decoration: none;
}
