* {
   box-sizing: border-box;
}
body {
   margin: 0;
}
.who-i-am {
   min-height: 90vh;
   background-color: #141414;
   color: #fafafa;
   padding: 32px;
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.who-i-am__title,
.services__title {
   text-align: center;
   font-family: "Montserrat", sans-serif;
   font-weight: 700;
   font-size: 32px;
}
.who-i-am__content {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 16px;
}
.services {
   min-height: 90vh;
   background-color: #fafafa;
   color: #2c2c2c;
   overflow: auto;
   padding: 56px;
}
.services__title {
   margin-bottom: 50px;
}
.services__container {
   display: grid;
   row-gap: 100px;
}
.contact {
   min-height: 90vh;
   background-color: #141414;
   color: #fafafa;
   padding: 70px 20px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.contact__title {
   text-align: center;
   font-family: "Montserrat";
   font-weight: 700;
   font-size: 32px;
   margin: 0 0 35px 0;
}
