* {
   box-sizing: border-box;
}
body {
   margin: 0;
   background-color: black;
}
.services__container {
   padding: 0 40px;
   overflow: auto;
}
@media (min-width: 950px) {
   .services__container {
      padding: 100px;
      display: flex;
      justify-content: space-between;
   }
}
